body {
  background-color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.change-button {
  display: flex;
  align-self: center;
}

h3 {
  padding: 10px;
  border-radius: 4%;
}